#content-display {
  justify-content: center;
  margin-top: 3vmin;
}

#randomizer-display-panel {
  /* background-color: #b5cde6; */
  width: 100vmin;
}

#randomizer-config-panel {
  min-width: 60vmin;
  margin: 0 3vmin;
}

.randomizer-config-toggle {
  margin-left: auto;
}

.randomizer-config-value {
  padding: 0.125em;
  display: flex;
  align-items: center;
}

.top-labeled-config-value {
  padding: 0.3em 0em;
}

#pagination-controls {
  display: none;
}

.pagination-directional-btn {
  width: 100%;
  margin-bottom: 0.3em;
  font-size: 8vmin;
}

#pagination-back-div {
  padding-right: 0px;
  padding-left: 0px;
}

#pagination-forward-div {
  padding-right: 0px;
  padding-left: 0px;
}

#pagination-page-display {

}

#pagination-page-text {
  text-align: center;
}

#ranzomize-chords-btn {
  width: 100%;
  margin-bottom: 0.3em;
  font-size: 8vmin;
}

#sequence-display-section {
  width: 100%;
  table-layout: fixed;
}

.sequence-value {
  text-align: center;
  font-size: 8vmin;
  padding-bottom: 6vmin;
}

.randomizer-config-radio-group {
  width: 100%;
}

.sequence-value-smaller-text {
  font-size: 6vmin;
}

.sequence-value sup {
  font-size: 60%;
  top: -0.7em;
}

.empty-sequence-value {
  opacity: 0;
}
